<h5>
  Untuk berlangganan lebih dari satu dekoder, Anda harus memilih paket BIG STAR atau BIG Universe.
</h5>
<div class="span12">
  <% @upgrades.each do |upgrade_package| %>
    <div class="span6" style="float:none; display: inline-block;">
      <div class="head_pack red">
        <div class="big-decode2">BiG</div>
        <span class="small-counter2"><%= upgrade_package.name %></span>
      </div>
      <table class="table table-bordered padding0 decode">
        <tbody class="gray_packages">
          <tr>
            <td>
              <div class="br"></div>
              <div class="pack-info">
                <div class="pack-i-line" style="text-align: center">
                  Rp.
                  <span class="prc">
                    <%= number_to_currency(upgrade_package.price_month,{unit: '', precision: 0}) %>
                  </span>
                </div>
              </div>
              <div class="br"></div>          
              <%= link_to extra_manage_orders_path(membership_id: upgrade_package.id),{class: 'no_underscore', style: "text-align: center"} do %>
                <div class='pack-order version2'>SUBSCRIBE</div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
  <br><br>
  *) Harga Paket tidak termasuk rental dekoder.
</div>
