<section class="wraper_bg-bright wraper-follow-us bg-raw  fbscroll_item special_line_rotated_left" id="blog">
	<article class="packs-cont cbp-so-scroller" style="text-align:center; width:940px">
		<div class="panel-body" style="text-align:center; width:940px">
			<table style="background:url(assets/langganan/1.png); height:619px; width:100%">
			</table>
			<table class="langganan" style="background:url(assets/langganan/2.png); height:274px; width:100%">
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<%= link_to root_path do %>
								<%= image_tag "langganan/lihat_kami.png", class: "img_langganan" %>
							<% end %>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<%= link_to new_customer_path do %>
								<%= image_tag "langganan/klik_disini.png", class: "img_langganan" %>
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
			<table style="background:url(assets/langganan/3.png); height:867px; width:100%">
			</table>
		</div>
	</div>
	<div class="polosochka"></div>
</section>