<section class="wraper_bg-bright extra_packages">
	<h1><span>EXTRA</span> PACKAGES</h1>
	<div class="polosochka2"></div>

	<article class="packs-cont cbp-so-scroller" style="text-align:left">
	    <div class="panel-body">
	    	<div class="extra_banner">
	    		<div class="own_extra">
		    		<span class="extra_info">Please fill the checkboxes to subscribe Our Extra Packages</span>
		    		<div class="pack-order float-right-fixed margn">SUBSCRIBE</div>
		    	</div>
	    	</div>
	    	<br>
	    	<div class="grd_masonry">
		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>

		    	<div class="grid_packages">
		    		<div class="head_pack red vers">
		    			<div class="roundedOne versi2">
	              <input id="member_2_1" name="check" type="checkbox" value="">
	              <label for="member_2_1"></label>
	            </div>
		    			<span class="title_ord italic">BiG</span> 
		    			<span class="title_ord">BPL</span>
		    			<div>
		    				Rp. <b>20.000,-</b>
		    			</div>
		    		</div>
		    		<table class="table table-bordered padding0">
				      <tbody>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
			          <tr>
			            <td>
			              <span class="name_channel">J'go </span>
			            </td>
		              <td>
		                <img alt="J_go_hd" class="small_image" src="/system/unit_items/logos/000/000/077/thumb/J_Go_HD.png?1386795359">
		              </td>
			          </tr>
				      </tbody>
				    </table>
		    	</div>
		    </div>
			</div>
	</article>
</section>