<section class="wraper_bg-bright wraper-follow-us bg-raw  fbscroll_item special_line_rotated_left" id="blog">
	<article class="packs-cont cbp-so-scroller" style="text-align:center; width:940px">
		<div class="panel-body" style="text-align:center; width:940px">
			<%= image_tag "langganan/support-pembayaran.png" %>
		</div>
	</div>
	<div class="polosochka"></div>
</section>