<section class="wraper_bg-bright">
 <% if @order.success? %>
    <h1><span>Registration Complete!</span></h1>
    <h3>
      Thank you for Subscribing.<br />
      Our Call Center will call you within 24 hours to schedule an installation appointment
    </h3>
  <% else %>
    <h1><span>Registration is NOT Complete!</span></h1>
  <% end %>
  <div class="polosochka2"></div>

  <%= render 'order_info' %>
</section>