<div class="row">
	<div class="col-sm-12">
		<ol class="breadcrumb">
			<li>
				<i class="clip-home-3"></i>
				<a href="#">
					Home
				</a>
			</li>
			<li class="active">
				Dashboard
			</li>
			<li class="search-box">
				<form class="sidebar-search">
					<div class="form-group">
						<input type="text" placeholder="Start Searching..." data-default="130">
						<button class="submit">
							<i class="clip-search-3"></i>
						</button>
					</div>
				</form>
			</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<%= render partial: "shareds/back_office/alert" %>
			<h1>Dashboard</h1>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="core-box">
			<div class="heading">
				<i class="clip-user-4 circle-icon circle-green"></i>
				<h2>Manage Users</h2>
			</div>
			<div class="content">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			</div>
			<a class="view-more" href="#">
				View More <i class="clip-arrow-right-2"></i>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="core-box">
			<div class="heading">
				<i class="clip-clip circle-icon clip-star-3"></i>
				<h2>Manage Membership</h2>
			</div>
			<div class="content">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			</div>
			<a class="view-more" href="#">
				View More <i class="clip-arrow-right-2"></i>
			</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="core-box">
			<div class="heading">
				<i class="clip-database circle-icon clip-checkbox"></i>
				<h2>Manage Subscription</h2>
			</div>
			<div class="content">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			</div>
			<a class="view-more" href="#">
				View More <i class="clip-arrow-right-2"></i>
			</a>
		</div>
	</div>
</div>
