<%= render layout: 'shareds/back_office/prepare_table', 
           locals: {
                     table_name:  'Page Contents', 
                     button_name: 'Page Content'
                   } do %>
  <table class="table table-striped table-bordered table-hover table-full-width" id="sample_1">
    <thead>
      <tr>
        <th>Category Content</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @page_contents.each_with_index do |page_content,index| %>
        <tr>
          <td><b><%= page_content.category %></b></td>
          <td><%= page_content.title %></td>
          <td>
            <%= render partial: 'shareds/back_office/action_buttons', locals: {resource: page_content, confirmation: "#{page_content.title} will be deleted, are you sure ?"} %>
            </div>
          </td>
        </tr>  
      <% end %>
    </tbody>
  </table>
<% end %>