<section class="wraper_bg-bright special_line_rotated_righ" id="feedback">
	<h1>customer <span>feedback</span></h1>
	<div class="polosochka2"></div>
	<h3>This unusual piece will definitely become <br> an eye catching decoration in tour home.</h3>
	<section class="features-cont cbp-so-scroller">
		<div class="features-cont-sub clearfix cbp-so-section" id="slider-features">
			<aside class="feedback-as feedback-as-l cbp-so-side cbp-so-side-left">
				<div class="img_border_3 hi-icon">
				<img src="assets/img/logo1.png" alt="img"/>
				</div>
				<div class="feedback-info">
					<p class="main">Dear Hosting family, Thank you for the excelent service you provide me from</p>
					<p class="sub">- Andrew, Envato</p>
				</div>
			</aside>
			<aside class="feedback-as cbp-so-side cbp-so-side-left" >
				<div class="img_border_3 hi-icon">
				<img src="assets/img/logo2.png" alt="img"/>
				</div>
				<div class="feedback-info">
					<p class="main">Dear Hosting family, Thank you for the excelent service you provide me from</p>
					<p class="sub">- Andrew, Envato</p>
				</div>
			</aside>
			<aside class="feedback-as feedback-as-l cbp-so-side cbp-so-side-right" >
				<div class="img_border_3 hi-icon">
				<img src="assets/img/logo3.png" alt="img"/>
				</div>
				<div class="feedback-info">
					<p class="main">Dear Hosting family, Thank you for the excelent service you provide me from</p>
					<p class="sub">- Marat, CNN</p>
				</div>
			</aside>
			<aside class="feedback-as cbp-so-side cbp-so-side-right" >
				<div class="img_border_3 hi-icon">
				<img src="assets/img/logo4.png" alt="img"/>
				</div>
				<div class="feedback-info">
					<p class="main">Dear Hosting family, Thank you for the excelent service you provide me from</p>
					<p class="sub">- Marat, CNN</p>
				</div>
			</aside>
			<aside class="feedback-as feedback-as-l cbp-so-side cbp-so-side-left">
				<div class="img_border_3 hi-icon">
				<img src="assets/img/logo1.png" alt="img"/>
				</div>
				<div class="feedback-info">
					<p class="main">Dear Hosting family, Thank you for the excelent service you provide me from</p>
					<p class="sub">- Alexandr, MTV</p>
				</div>
			</aside>
			<aside class="feedback-as cbp-so-side cbp-so-side-left" >
				<div class="img_border_3 hi-icon">
				<img src="assets/img/logo2.png" alt="img"/>
				</div>
				<div class="feedback-info">
					<p class="main">Dear Hosting family, Thank you for the excelent service you provide me from</p>
					<p class="sub">- Alexandr, MTV</p>
				</div>
			</aside>
			<aside class="feedback-as feedback-as-l cbp-so-side cbp-so-side-right" >
				<div class="img_border_3 hi-icon">
				<img src="assets/img/logo3.png" alt="img"/>
				</div>
				<div class="feedback-info">
					<p class="main">Dear Hosting family, Thank you for the excelent service you provide me from</p>
					<p class="sub">- Marina, Drupal</p>
				</div>
			</aside>
			<aside class="feedback-as cbp-so-side cbp-so-side-right" >
				<div class="img_border_3 hi-icon">
				<img src="assets/img/logo4.png" alt="img"/>
				</div>
				<div class="feedback-info">
					<p class="main">Dear Hosting family, Thank you for the excelent service you provide me from</p>
					<p class="sub">- Marina, Drupal</p>
				</div>
			</aside>
		</div>
	</section>

	<div class="feedback_popup">
		<h1>Leave a <span>feedback</span></h1>
		<div class="polosochka2"></div>
		<h3>This unusual piece will definitely become <br> an eye catching decoration in your home.</h3>
		<form class="feedb_form" action="http://pixeful.com/flatweb/fw_red_2/receiver.php" method="POST">
				<input class="feedb_inp1" name="Name" placeholder="Your name or Company name">
				<input class="feedb_inp1" name="Email" placeholder="Enter Your E-mail">
				<textarea class="feedb_text" name="Message" placeholder="Your message"></textarea>
				<div class="trial"><a onclick="$(this).closest('form').submit();return false;">Leave a feedback</a></div>
	   </form>
	</div>
	
	<section class="paging paging-main mbl-paging" id="features-cont-sub-paging">
		<div class="dot selected"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</section>
	<div class="trial"><a id="feedback_button">Leave a feedback</a></div>
	<div class="polosochka"></div>
</section>  