<section class="wraper_bg-bright" id="features">
	<div class="cbp-so-scroller feature_cont_slider_mobile">
    <div class="feature_cont cbp-so-section" >
			<div class="feature cbp-so-side cbp-so-side-left">
				<div class="img_border2 hi-icon">
					<div class="counter_item">
						<span id="counter-1">235<span class="small-counter"></span></span>
						<h3>CHANNELS</h3>
					</div>
				</div>
				<h3><span>KUALITAS</span></h3>
				<p>Beyond utility, imagine an experience that encourages exploration and discovery</p>
				<div class="horizontal h-pc"></div>
			</div>
			<div class="feature cbp-so-side cbp-so-side-left">
				<div class="img_border2 hi-icon">
					<div class="counter_item">
						<span id="counter-2">95<span class="small-counter">HD</span></span>
						<h3>CHANNELS</h3>
					</div>
				</div>
				<h3><span>KONTEN</span></h3>
				<p>Beyond utility, imagine an experience that encourages exploration and discovery</p>
				<div class="horizontal h-pc"></div>
			</div>
			<div class="feature cbp-so-side cbp-so-side-left">
				<div class="img_border2 hi-icon">
					<div class="counter_item">
						<span id="counter-3">45<span class="small-counter">%</span></span>
						<h3>LEBIH EKONOMIS</h3>
					</div>
				</div>
				<h3><span>HARGA</span></h3>
				<p>Beyond utility, imagine an experience that encourages exploration and discovery</p>
				<div class="horizontal h-pc"></div>
			</div>
		</div>
	</div>             	
	<section class="paging paging-main mbl-paging" id="feature_cont_slider_mobile_paging">
		<div class="dot selected"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</section>		
	<div class="polosochka"></div>
</section>      