<section class="wraper_bg-bright" id="features">
	<div class="cbp-so-scroller feature_cont_slider_mobile">
    <div class="feature_cont cbp-so-section" >
			<div class="feature cbp-so-side cbp-so-side-left">
				<div class="img_border2 hi-icon">
					<div class="counter_item">
						<span id="counter-1">235<span class="small-counter"></span></span>
						<h3>CHANNELS</h3>
					</div>
				</div>
				<h3><span>KUALITAS</span></h3>
				<p>Big TV merupakan salah satu TV satelit berbayar terbesar yang menghadirkan layanan hiburan terbaik melalui teknologi muktahir. Big TV saat ini menyuguhkan 177 channel yang terdiri dari 153 channel standard definition dan 24 channel HD dari berbagai macam genre. </p>
				<div class="horizontal h-pc"></div>
			</div>
			<div class="feature cbp-so-side cbp-so-side-left">
				<div class="img_border2 hi-icon">
					<div class="counter_item">
						<span id="counter-2">95<span class="small-counter">HD</span></span>
						<h3>CHANNELS</h3>
					</div>
				</div>
				<h3><span>KONTEN</span></h3>
				<p>Big TV menawarkan berbagai macam saluran dan program ternama bagi konsumen Indonesia dari berbagai genre yang berbeda, termasuk saluran entertainment, olahraga, gaya hidup, pendidikan, anak-anak, musik, berita, dsb.</p>
				<div class="horizontal h-pc"></div>
			</div>
			<div class="feature cbp-so-side cbp-so-side-left">
				<div class="img_border2 hi-icon">
					<div class="counter_item">
						<span id="counter-3">45<span class="small-counter">%</span></span>
						<h3>LEBIH EKONOMIS</h3>
					</div>
				</div>
				<h3><span>HARGA</span></h3>
				<p>Demi kenyamanan pelanggan, Big TV menghadirkan skema pembayaran pra-bayar dan berlangganan. Paket kami juga disesuaikan dengan keinginan dan kebutuhan pelanggan setia kami</p>
				<div class="horizontal h-pc"></div>
			</div>
		</div>
	</div>             	
	<section class="paging paging-main mbl-paging" id="feature_cont_slider_mobile_paging">
		<div class="dot selected"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</section>		
	<div class="polosochka"></div>
</section>      