<footer class="wraper">
	<section class="head-els footer foo">
		<div class="grd_masonry_footer">
		  <div class="grid_packages_footer">
		  	<h3><span class="italic">BiG</span> TV</h3>
		  	<div class="br"></div>
		  	<div class="post">
			  	Big TV merupakan salah satu TV satelit berbayar terbesar yang menghadirkan layanan hiburan terbaik melalui teknologi muktahir. <br><br>Big TV saat ini menyuguhkan 177 channel yang terdiri dari 153 channel standard definition dan 24 channel HD dari berbagai macam genre.
			  </div>

		  </div>
		  <div class="grid_packages_footer">
				<h3>Latest on Twitter</h3>
				<div class="br"></div>
				<div style="width:236px;font-size:8px;text-align:right;height:290px;" class="twitter-widget-box">
					<script type="text/javascript">
				document.write(unescape("%3Cscript src='http://twitterforweb.com/twitterbox.js?username=BiGTiVi&settings=1,1,5,236,650,000000,1,1d1f21,ffffff,1,1,336699' type='text/javascript'%3E%3C/script%3E"));
					</script>
				</div>
			</div>
		  <div class="grid_packages_footer">
		  	<h3>Latest on Facebook</h3>
		  	<div class="br"></div>
		  	<div class="fb-like-box" data-href="http://www.facebook.com/BigTivi" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
		  </div>
		  <div class="grid_packages_footer">
		   	<h3>Follow US</h3>
		  	<div class="br"></div>
		  	<a href="https://twitter.com/BiGTiVi" target="_blank">
		  		<%= image_tag "twitt.png",class: "lazy"%>
		  	</a>
		  	<a href="https://www.facebook.com/bigtivi" target="_blank">
		  		<%= image_tag "fb.png",class: "lazy" %>
		  	</a>
		  </div>
		</div>
		<div class="br"></div>
		<h2>UNTUK INFO LEBIH LENGKAP, HUBUNGI (021) 500-244</h2>
		<div class="copyright">
			(c) 2013 PT. Indonesia Media Televisi. All Rights Reserved.<br> Disclaimer: Semua Paket, Harga, dan Channel dapat berganti sewaktu-waktu tanpa pemberi tahuan. Untuk info lebih lanjut.
		</div>
	</section>
</footer>
<div id="fb-root"></div>