<footer class="wraper">
	<section class="head-els footer">
		<div class="logo">
		   <img src="/assets/img/chat.png" alt="img">
		</div>
		<ul class="menu h-pc">
		   <li><a href="#intro" class="selected">intro</a></li>
		   <li><a href="#features">features</a></li>
		   <li><a href="#gallery">portfolio</a></li>
		   <li><a href="#plan">pricing</a></li>
		   <li><a href="#team">our team</a></li>
		   <li><a href="#feedback">testimonials</a></li>
		   <li><a href="#blog">blog</a></li>
		   <li><a href="#map">contacts</a></li>
		</ul>
		   <div class="f_subscribe ">
			   <form class="f_form" action="http://pixeful.com/flatweb/fw_red_2/receiver.php" method="POST"> 
				   <input class="form1" type="text" name="email" placeholder="Enter Your E-mail">
				   <input class="form2" type="submit" name="subscribe" value="subscribe">
			   </form>
			   <div class="clear"></div>
		   </div>
	</section>
</footer>