<footer class="wraper">
	<section class="head-els footer">
		<div class="grd_masonry_footer">
		  <div class="grid_packages_footer">
		  	<h3><span class="italic">BiG</span> TV</h3>
		  	<div class="br"></div>
		  	<div class="post">
			  	Big TV merupakan salah satu TV satelit berbayar terbesar yang menghadirkan layanan hiburan terbaik melalui teknologi muktahir. Big TV saat ini menyuguhkan 177 channel yang terdiri dari 153 channel standard definition dan 24 channel HD dari berbagai macam genre.
			  </div>

		  </div>
		  <div class="grid_packages_footer">
		  	<h3>Latest On Twitter</h3>
		  	<div class="br"></div>
		  	<div class="post">
			  	<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
			  	<span class="time">14 minutes a go</span>
			  </div>

		  	<div class="post">
			  	<div>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
			  	<span class="time">14 minutes a go</span>
			  </div>
		  </div>
		  <div class="grid_packages_footer">
		  	<h3>Latest On Flickr</h3>
		  	<div class="br"></div>
		  	<ul class="gallery_footer">
		  		<li></li>
		  		<li></li>
		  		<li></li>
		  		<li></li>
		  		<li></li>
		  		<li></li>
		  		<li></li>
		  		<li></li>
		  	</ul>
		  </div>
		  <div class="grid_packages_footer">
		  	<h3>Newslatter</h3>
		  	<div class="br"></div>
		  	<div class="f_subscribe">
				  <form class="f_form" action="#" method="POST"> 
					  <input class="form1" type="text" name="email" placeholder="E-mail Address">
					  <input class="form2" type="submit" name="subscribe" value="Sign Up">
				  </form>
				  <div class="clear"></div>
		   	</div>
		   	<h3>Flow Us</h3>
		  	<div class="br"></div>
		  	<%= image_tag "twitt.png",class: "lazy"%>
		  	<%= image_tag "fb.png",class: "lazy" %>
		  	<%= image_tag "youtube.png",class: "lazy" %>
		  	<%= image_tag "oo.png",class: "lazy" %>
		  </div>
		</div>
		<div class="copyright">
			@2013 PT.Indonesia Media Televisi . Allrights Reserved
		</div>
	</section>
</footer>