<div class="head_bander">
  <header class="wraper head" id="nav">
    <div class="mask"></div>
    <section class="head-els">
      <div class="logo" onclick="$('.menu li a').first().click();">
        <%= link_to "#{image_tag 'bigtv.png', height: '80px',class: "lazy"}".html_safe, root_path %>
      </div>
      <% if current_user %>
        <ul class="menu h-pc" style="margin-left: 0px;">
          <li><a href="#intro" class="selected">intro</a></li>
          <li><a href="#fitur" onclick="window.location='/#fitur'">fitur</a></li>
          <li><a href="#channel" onclick="window.location='/#channel'">channel</a></li>
          <li><a href="#paket" onclick="window.location='/#paket'">paket</a></li>
          <li><a href="#lokasi" onclick="window.location='/#lokasi'">lokasi</a></li>
          <li><a href="#promo" onclick="window.location='/#promo'">promo</a></li>
          <li><a href="#support" onclick="window.location='/support'">support</a></li>
          <li><a href="#careers" onclick="window.location='/careers'">career</a></li>
          <li><a href="#streaming" onclick="window.location='http://go.firstmedia.com'" target="_blank" class="blink_me">Streaming</a></li>
        </ul>
      <% else %>
        <ul class="menu h-pc">
          <li><a href="#intro" onclick="window.location='/#intro'">intro</a></li>
          <li><a href="#fitur" onclick="window.location='/#fitur'">fitur</a></li>
          <li><a href="#channel" onclick="window.location='/#channel'">channel</a></li>
          <li><a href="#paket" onclick="window.location='/#paket'">paket</a></li>
          <li><a href="#lokasi" onclick="window.location='/#lokasi'">lokasi</a></li>
          <li><a href="#promo" onclick="window.location='/#promo'">promo</a></li>
          <li><a href="#support" onclick="window.location='/support'">support</a></li>
          <li><a href="#careers" onclick="window.location='/careers'">career</a></li>
          <li><a href="#streaming" onclick="window.location='http://go.firstmedia.com'" target="_blank" class="blink_me">Streaming</a></li>
        </ul>
      <% end %>
      <%= link_to new_customer_path do %>
        <div class="login">LANJUT DAFTAR >></div>
      <% end %>
      <div class="mbl-menu" id="mbl-button">
        <div class="mbl_menu_el"></div>
        <div class="mbl_menu_el"></div>
        <div class="mbl_menu_el"></div>
      </div>
      <ul class="mbl_menu_cont" id="mbl-menu">
        <li><a href="#fitur" onclick="window.location='/#fitur'">fitur</a></li>
        <li><a href="#channel" onclick="window.location='/#channel'">channel</a></li>
        <li><a href="#paket" onclick="window.location='/#paket'">paket</a></li>
        <li><a href="#lokasi" onclick="window.location='/#lokasi'">lokasi</a></li>
        <li><a href="#promo" onclick="window.location='/#promo'">promo</a></li>
        <li><a href="#support" onclick="window.location='/support'">support</a></li>
        <li><a href="#careers" onclick="window.location='/careerSs'">career</a></li>
      </ul>
      <div class="clear"></div>
    </section>
  </header>
</div>
