<div class="head_bander">
	<header class="wraper head" id="nav">
		<div class="mask"></div>
		<section class="head-els">
			<div class="logo" onclick="$('.menu li a').first().click();">
				<%= link_to "#{image_tag 'bigtv.png', height: '50px'}".html_safe, root_path %>
			</div>
			<ul class="menu h-pc">
				<li><a href="#intro" class="selected">intro</a></li>
				<li><a href="#features">features</a></li>
				<li><a href="#gallery">programmes</a></li>
				<li><a href="#team">channels</a></li>
				<li><a href="#plan">packages</a></li>
				<li><a href="#map">dealer locator</a></li>
				<li><a href="#blog">news</a></li>
			</ul>
			<% unless current_customer %>
				<%= link_to new_customer_path do %>
					<div class="login">DAFTAR SEKARANG</div>
				<% end %>
			<% end %>
			<div class="mbl-menu" id="mbl-button">
				<div class="mbl_menu_el"></div>
				<div class="mbl_menu_el"></div>
				<div class="mbl_menu_el"></div>
			</div>
			<ul class="mbl_menu_cont" id="mbl-menu">
					<li><a href="#features">features</a></li>
					<li><a href="#gallery">programmes</a></li>
					<li><a href="#team">channels</a></li>
					<li><a href="#plan">packages</a></li>
					<li><a href="#map">dealer locator</a></li>
					<li><a href="#blog">news</a></li>
			</ul>
			<div class="clear"></div>
		</section>
	</header>
</div>
