<div id="head_bander">
  <header class="wraper head" id="nav">
    <div class="mask"></div>
    <section class="head-els">
      <div class="logo" onclick="$('.menu li a').first().click();">
        <%= link_to "#{image_tag 'bigtv.png', height: '80px',class: "lazy"}".html_safe, root_path %>
      </div>
      <ul class="menu h-pc">
        <li><a href="#intro" class="selected">intro</a></li>
        <li><a href="#fitur">fitur</a></li>
        <li><a href="#team">channel</a></li>
        <li><a href="#plan">paket</a></li>
        <li><a href="#map">lokasi</a></li>
        <li><a href="#blog">promo</a></li>
        <li><a href="#support" onclick="window.location='/support'">support</a></li>
        <li><a href="#carriers" onclick="window.location='/carriers'">career</a></li>
      </ul>
      <%= link_to cara_berlangganan_path do %>
        <div class="login">DAFTAR SEKARANG</div>
      <% end %>
      <div class="mbl-menu" id="mbl-button">
        <div class="mbl_menu_el"></div>
        <div class="mbl_menu_el"></div>
        <div class="mbl_menu_el"></div>
      </div>
      <ul class="mbl_menu_cont" id="mbl-menu">
        <li><a href="#fitur">fitur</a></li>
        <li><a href="#team">channel</a></li>
        <li><a href="#plan">paket</a></li>
        <li><a href="#map">lokasi</a></li>
        <li><a href="#blog">promo</a></li>
        <li><a href="#support" onclick="window.location='/support'">support</a></li>
        <li><a href="#carriers" onclick="window.location='/carriers'">career</a></li>
      </ul>
      <div class="clear"></div>
    </section>
  </header>
</div>
