<section class="wraper_bg-bright map"  id="map">
	<div class="map1">
		<h1><span>DEALER LOCATOR</span></h1>
		<div class="polosochka2"></div>
		<h3>This unusual piece will definitely <br> an eye catching decoration in tour home.</h3>
		<div class="br"></div>
		<div class="br"></div>
		<div class="team_members cbp-so-section cbp-so-init cbp-so-animate">
			<div style="display:table; margin-left:auto; margin-right:auto">
				<div class="pack-order float-left">SUMATERA</div>
				<div class="pack-order float-left">JAWA + MADURA</div>
				<div class="pack-order float-left">KALIMANTAN</div>
				<div class="pack-order float-left">SULAWESI</div>
				<div class="pack-order float-left">BALI</div>
				<div class="pack-order float-left">NUSA TENGGARA</div>
				<div class="pack-order float-left">MALUKU + PAPUA</div>
			</div>
		</div>
		<div class="br2"></div>
		<div class="br2"></div>
		<iframe src="https://maps.google.com/?ie=UTF8&amp;ll=52.24462,14.067993&amp;spn=0.491896,1.352692&amp;t=m&amp;z=10&amp;output=embed"></iframe>
	</div>
</section>