<section class="wraper_bg-bright map"  id="map">
	<div class="map1">
		<h1><span>DEALER LOCATOR</span></h1>
		<div class="polosochka2"></div>
		<h3>Kunjungi dealer-dealer kami yang tersebar di seluruh Indonesia. <br>Proses berlangganan tidak pernah semudah dan sesimpel ini!</h3>
		<div class="br"></div>
		<div class="br"></div>
		<div class="team_members cbp-so-section cbp-so-init cbp-so-animate">
			<div style="display:table; margin-left:auto; margin-right:auto">
				<div class="pack-order float-left">SUMATERA</div>
				<div class="pack-order float-left">JAWA + MADURA</div>
				<div class="pack-order float-left">KALIMANTAN</div>
				<div class="pack-order float-left">SULAWESI</div>
				<div class="pack-order float-left">BALI</div>
				<div class="pack-order float-left">NUSA TENGGARA</div>
				<div class="pack-order float-left">MALUKU + PAPUA</div>
			</div>
		</div>
		<div class="br2"></div>
		<div class="br2"></div>
		<div id="map_section">
		</div>
	</div>
</section>