<section class="wraper_bg-bright wraper-follow-us bg-raw  fbscroll_item special_line_rotated_left" id="blog">
	<h1><span>BERITA</span></h1>
	<div class="polosochka2"></div>
	<h3>Temukan berita terbaru seputar Big TV, promo bulanan serta info-info menarik lainnya hanya disini</h3>
	<article class="packs-cont cbp-so-scroller" style="text-align:left">
		<div class="panel-body">
			<div class="grd_masonry_news">
				<% @blogs.each do |blog| %>
			    <div class="grid_packages_news">
			    	<%= image_tag "#{blog.picture}",class: "news_image lazy" %>
			    	<div class="news_des">
				    	<div class="title_news_catalog"><%= link_to blog.title, show_blog_path(blog.id), style: 'color: red;' %></div>
				    	<div>
				    		<span class="description"><%= truncate strip_tags(blog.description.to_s), length: 100 %></span>
				    		<%= link_to "MORE", show_blog_path(blog.id) %>
				    	</div>
						</div>
			    </div>
		    <% end %>
		  </div>
		</div>
	</div>
	<div class="polosochka"></div>
</section>