<section class="wraper_bg-bright special_line_rotated_righ" id="plan">
	<h1><span>PACKAGES</span> & <span>CHANNELS</span></h1>
	<div class="polosochka2"></div>
  <h3>Upgrade, downgrade or cancel anytime. Love it or we <br> will refund you within 15 days</h3>
                
	<article class="packs-cont cbp-so-scroller">
		<div class="mbl-packs-cont cbp-so-section">
			<% @memberships.each do |membership| %>
				<div class="pack cbp-so-side cbp-so-side-left" >
					<div class="pack-price">
						BiG
					</div>
					<header class="pack-h"><%= membership.name %></header>
					<div class="pack-info">
						<div class="pack-i-line">
							Rp.
							<span class="prc">
								<%= number_to_currency(membership.price_month,{unit: '', precision: 3}) %>
							</span>
						</div>
					</div>
					<div class="pack-order">order now</div>
					<div class="mbl-pack-mask"></div>
				</div>
			<% end %>
		</div>

		<%= render partial: "shareds/front/table_packages", locals: {memberships: @memberships.map(&:id)} %>
  </article>
  <br><br>
	<div class="polosochka"></div>
</section>	