<section class="wraper_bg-bright special_line_rotated_righ" id="plan">
	<h1><span>PACKAGES</span> & <span>CHANNELS</span></h1>
	<div class="polosochka2"></div>
  <h3>Upgrade, downgrade or cancel anytime. Love it or we <br> will refund you within 15 days</h3>
                
	<article class="packs-cont cbp-so-scroller">
		<div class="mbl-packs-cont cbp-so-section">
			<div class="pack cbp-so-side cbp-so-side-left" >
				<div class="pack-price">
					<div class="big-counter">BiG</div>
					<span class="small-counter2">UNIVERSE 142</span>
				</div>
				<header class="pack-h">
				</header>
				<div class="pack-info">
					<div class="pack-i-line">
						Rp.<span class="prc">488.000</span>
					</div>
				</div>
				<div class="promo_banner">
				</div>
				<div class="pack-order">SUBSCRIBE</div>
				<div class="mbl-pack-mask"></div>
			</div>

			<div class="pack cbp-so-side cbp-so-side-left" >
				<div class="pack-price">
					<div class="big-counter">BiG</div>
					<span class="small-counter2">START 117</span>
				</div>
				<header class="pack-h">
					<span class="rp_small">Rp.</span> <span class="promo">440.000</span>
				</header>
				<div class="pack-info">
					<div class="pack-i-line">
						Rp.<span class="prc">488.000</span>
					</div>
				</div>
				<div class="promo_banner">
					<span>Disc.<b>40%</b></span>
				</div>
				<div class="pack-order">SUBSCRIBE</div>
				<div class="mbl-pack-mask"></div>
			</div>

			<div class="pack cbp-so-side cbp-so-side-left" >
				<div class="pack-price">
					<div class="big-counter">BiG</div>
					<span class="small-counter2">SUN 94</span>
				</div>
				<header class="pack-h">
					<span class="rp_small">Rp.</span> <span class="promo">440.000</span>
				</header>
				<div class="pack-info">
					<div class="pack-i-line">
						Rp.<span class="prc">488.000</span>
					</div>
				</div>
				<div class="promo_banner">
					<span>Disc.<b>40%</b></span>
				</div>
				<div class="pack-order">SUBSCRIBE</div>
				<div class="mbl-pack-mask"></div>
			</div>

			<div class="pack cbp-so-side cbp-so-side-left" >
				<div class="pack-price">
					<div class="big-counter">BiG</div>
					<span class="small-counter2">FUN 79</span>
				</div>
				<header class="pack-h">
					<span class="rp_small">Rp.</span> <span class="promo">440.000</span>
				</header>
				<div class="pack-info">
					<div class="pack-i-line">
						Rp.<span class="prc">488.000</span>
					</div>
				</div>
				<div class="promo_banner">
					<span>Disc.<b>40%</b></span>
				</div>
				<div class="pack-order">SUBSCRIBE</div>
				<div class="mbl-pack-mask"></div>
			</div>

			<div class="pack cbp-so-side cbp-so-side-left" >
				<div class="pack-price">
					<div class="big-counter">BiG</div>
					<span class="small-counter2">DEAL 70</span>
				</div>
				<header class="pack-h">
				</header>
				<div class="pack-info">
					<div class="pack-i-line">
						Rp.<span class="prc">488.000</span>
					</div>
				</div>
				<div class="promo_banner">
				</div>
				<div class="pack-order">SUBSCRIBE</div>
				<div class="mbl-pack-mask"></div>
			</div>
		</div>

		<%= render partial: "shareds/front/table_packages" %>
  </article>
  <br><br>
	<div class="polosochka"></div>
</section>	