<section class="wraper bg-raw  fbscroll_item" id="intro">
	<article class="cont">

	 <div class="slide-main cbp-so-scroller">
	  <div class="dots">
	   <div class="element"></div>
	   <div class="element"></div>
	   <div class="element"></div>
	  </div>
	  <div id="sequence">
	   <ul class="sequence-canvas">
			<li>
				 <div class="info">
				 	<%= image_tag "bigtv-banner.png", width:"100%"%>
				 </div>
			</li>
			<li>
				 <div class="info">
				  <%= image_tag "bigtv-banner.png", width:"100%" %>
				 </div>
			</li>
			<li>
				 <div class="info">
				  <%= image_tag "bigtv-banner.png", width:"100%" %>
				 </div>
			</li>
	   </ul>
	  </div>
	 </div>
	</article>
	<div class="polosochka"></div>
</section>
