<section class="wraper bg-raw fbscroll_item" id="intro" style="display:none">
  <article class="cont">
    <div class="slide-main cbp-so-scroller">
      <div class="dots">
        <% @slides.each do |slide| %>
          <div class="element"></div>
        <% end %>
      </div>
      <div id="sequence">
        <ul class="sequence-canvas">
        <% @slides.each do |slide| %>
          <li>
            <div class="info" style="text-align:center;">
              <a href="<%= slide.link %>">
                <%= image_tag slide.picture %>
              </a>
            </div>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </article>
  <div class="polosochka"></div>
</section>
