/*
 *= require_self
 *= require bootstrap_new
 *= require front/bootstrap
 *= require front/css
 *= require front/css/normalize
 *= require front/css/index
 * require front/css/mobile-reset
 * require front/css/jQuery.Opie.PortfolioGallery
 * require front/css/mobile
 *= require front/css/component
 *= require plugins/datepicker/css/datepicker
 *= require front/css/invoice
 *= require jquery.autocomplete
 *= require front/override
 */
.mbl-menu, .mbl_menu_cont{
	display: none;
}
.btn-group.overide{
		float: right;
		margin-top: 10px;
}
.btn-group.overide img{
		float: left;
		margin-right: 10px;
	}
.caret{
		margin-left: 5px!important;
}
.trial a{
	font-weight: bold!important;
	color: #bbb;
}
input[type="radio"].pgk_hide{
	display: none;
}
.mg-top-nul{
	margin-top: 0px!important;
}
.tahap_2, .tahap_3{
	display: none;
}
.thp1, .thp2, .thp3{
	color: #ccc;
}
.active_thp{
	color: #000!important;
}
.lanjut_btn, .lanjut_btn2{
	display: none;
}