/*
 *= require_self
 *= require front/css
 *= require front/css/normalize
 *= require front/css/index
 *= require front/css/mobile-reset
 *= require front/css/mobile
 *= require front/css/jQuery.Opie.PortfolioGallery
 *= require front/css/component
 *= require front/bootstrap
 *= require plugins/datepicker/css/datepicker
 *= require front/css/invoice
 */

.pack-order{
  text-decoration: none;
}

.edit-pack{
  position: absolute;
  right: 10px;
  top: 3px;
  text-decoration: none;
  font-size: 11px;
  color: #ed2024;
  font-weight: bold;
  text-transform: uppercase;
}

.table-cart-widget{
  position: relative;
}

.pack-order.active, a:hover .pack-order.active{
  background-color: orange !important;
  cursor: default;
}

.span6{
  width: 48% !important;
  float: left;
  margin-right: 10px;
}

.why_section {
  display: block;
  width: 75%!important;
  margin: auto;
}

.tab-content{
  text-align: center;
}

table.langganan tr td{
  width: 20%;
}

.img_langganan{
  margin-right: 160px;
  margin-top: 40px;
}

.payment-code-info{
  margin-left: 40px;
}