<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
				<span class="clip-list-2"></span>
			</button>
			<a href="index.html">
				<%= image_tag "bigtv.png", height: "50px" %>
			</a>
		</div>
		<div class="navbar-tools">
			<ul class="nav navbar-right">
				<li class="dropdown current-user">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<img src="/assets/avatar-1-small.jpg" class="circle-img" alt="">
						<span class="username">Peter Clark</span>
						<i class="clip-chevron-down"></i>
					</a>
					<ul class="dropdown-menu">
						<li>
							<%= link_to "<i class='clip-user-2'></i>My Profile".html_safe, edit_user_path(current_user.id) %>
						</li>
						<li>
							<%= link_to "<i class='clip-exit'></i>SignOut".html_safe, destroy_user_session_path, :method => :delete %>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>